:root {
    --color-primary: #1A8EDB;
    --color-success: #3FA13F;
    --color-error: #DF2F1B;
    --color-neutral: #AAA;
    --color-secondary: #455A64;
    --color-secondary-light: #90A4AE;
    --color-secondary-darker: #263238;
    --font-primary: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif; 
}

body {
    background-color: #f1f1f1;
}



paper-radio-button::shadow #onRadio {
    background-color: #1A8EDB;
}
paper-radio-button[checked]::shadow #offRadio {
    border-color: #1A8EDB;
}