:root {
    --font-primary: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif; 
}

body {
    background-color: #f1f1f1;
}

.dsp-item,
.dsp-list {
    margin: 0 auto 20px auto;
    box-shadow: 0 1px 3px #999;
    padding: 20px;
    background-color: white;
}

.dsp-item {
    max-width: 600px;
}

.dsp-list {
    max-width: 800px;
}

.dsp-headline {
    font-size: 3em;
    text-align: center;
    color: #333;
    margin: 0 0 32px 0;
}

.dsp-item__row {
    display: flex;
    justify-content: space-between;
}

.dsp-item__row label {
    width: 45%;
}

paper-radio-button::shadow #onRadio {
    background-color: #1A8EDB;
}
paper-radio-button[checked]::shadow #offRadio {
    border-color: #1A8EDB;
}